fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
python-multipart
jinja2
google-genai
Pillow
psycopg2-binary
pgvector
pydantic[email]
langchain
sentence-transformers
langchain-community
